{% extends "autostew_web_home/base.html" %}

{% block content %}

    <h1 class="page-header">Hey {{ user.username }}</h1>

    {% for server in servers %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if not server.back_verified %}<span class="label label-danger">unverified</span>{% endif %}
                    {{ server.name }}
                </h3>
            </div>
            <div class="panel-body">
                {% include 'autostew_web_session/server_badge.html' with server=session.server %}
                <a class="btn btn-default" href="{% url 'account:settings' server.id %}">
                    Settings
                </a>
                <a class="btn btn-default" href="{% url 'account:rotation' server.id %}">
                    Setup rotation
                </a>
                <a class="btn btn-default" href="{% url 'account:queue' server.id %}">
                    Setup queue
                </a>
            </div>
        </div>
    {% empty %}
        <p>You own no registered dedicated servers</p>
    {% endfor %}
    <a class="btn btn-default" href="{% url 'account:add' %}">
        Connect your dedicated server to Autostew
    </a>
{% endblock %}
