{% extends "autostew_web_home/base.html" %}

{% block content %}

    <h1 class="page-header">Hey {{ user.username }}</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>Please mind</strong>
            </h3>
        </div>
        <div class="panel-body">
            <p>
                The setup queue and setup rotation will only have an effect if the <strong>controlGameSetup</strong>
                option is set to <strong>true</strong> in your server.cfg!
            </p>
            <p>
                Remember to restart your DS if you change this setting.
            </p>
        </div>
    </div>

    {% for server in servers %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if not server.back_verified %}<span class="label label-danger">unverified</span>{% endif %}
                    {{ server.name }}
                </h3>
            </div>
            <div class="panel-body">
                {% include 'autostew_web_session/server_badge.html' with server=server %}
                <a class="btn btn-default" href="{% url 'account:settings' server.id %}">
                    Settings
                </a>
                <a class="btn btn-default" href="{% url 'account:rotation' server.id %}">
                    Setup rotation
                </a>
                <a class="btn btn-default" href="{% url 'account:queue' server.id %}">
                    Setup queue
                </a>
            </div>
        </div>
    {% empty %}
        <p>You own no registered dedicated servers</p>
    {% endfor %}
    <a class="btn btn-default" href="{% url 'account:add' %}">
        Connect your dedicated server to Autostew
    </a>
{% endblock %}
