{% load staticfiles %}

{% block content %}
    <center>
        <a href="{% url 'home' %}">
            <img src="{% static 'autostew_web_home/img/uberspace_badge_white.png' %}"
             class="responsive-img" style='max-height:100px; margin: 30px 0 30px 0px' alt="Autostew">
        </a>
    </center>
    <div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
        <ul class="nav nav-pills nav-stacked">
            <li><a href='{% url 'session:sessions' %}'><span class="glyphicon glyphicon-road" style="margin-right: 8%"></span> Sessions</a></li>
            <li><a href='{% url 'session:servers' %}'><span class="glyphicon glyphicon-tasks" style="margin-right: 8%"></span> Servers</a></li>
            <li><a href='{% url 'users:list' %}'><span class="glyphicon glyphicon-user" style="margin-right: 8%"></span> Drivers</a></li>
            <li><a href='{% url 'session:tracks' %}'><span class="glyphicon glyphicon-star" style="margin-right: 8%"></span> Records</a></li>
            <li><a href='{% url 'contact:contact' %}'><span class="glyphicon glyphicon-heart" style="margin-right: 8%"></span> Contact</a></li>

            {% if user.is_authenticated %}
                <li><a href='{% url 'admin:login' %}'><span class="glyphicon glyphicon-console" style="margin-right: 8%"></span> Admin</a></li>
            {% endif %}

        </ul>
    </div>
{% endblock %}
