{% extends "autostew_web_home/base.html" %}

{% block content %}

    <h1 class="page-header">Help</h1>
    <h3>I am looking for a race I recently drove in but I can't find it</h3>
    <p>
        You can go to the <a href="{% url 'users:list' %}">user list</a>, look for your name there and see the list
        of races you recently participated in.
    </p>
    <hr>
    <h3>How is the driver rating calculated?</h3>
    <p>
        We use the <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo rating system</a>. You will be
        considered a winner over every driver who finished in a worse position than yours, but also over all drivers
        who completed a lap in any stage of the race but did not finish the race itself.
    </p>
    <hr>
    <h3>How is the driver safety class calculated?</h3>
    <p>
        The Project CARS dedicated server reports impacts during the race, including the magnitude of them. Each time
        you have a collision, it's magnitude gets added to your safety rating, so a higher rating means a more unsafe
        driver.
    </p>
    <p>
        For each clean lap you complete, the safety rating will be reduced. Complete many clean laps, and you will get
        a good safety rating.
    </p>
    <hr>
    <h3>Autostew said I crashed into someone but that is not true!</h3>
    <p>
        Text
    </p>
{% endblock %}
