{% extends "autostew_web_home/base.html" %}

{% block content %}
    {% if user.is_authenticated and user.is_staff and unread_messages %}
        <div class="alert alert-info">
            There are {{ unread_messages|length }} unread messages.
        </div>
    {% endif %}
    {% if user.is_authenticated and user.is_staff and unverified_servers %}
        <div class="alert alert-success">
            There are {{ unverified_servers|length }} unverified servers.
        </div>
    {% endif %}

    <h1 class="page-header">Autostew <small>making online racing fun!</small></h1>

    <div class="row">
        <div class="col-xs-12 col-md-8 placeholder">
            <p>
                We think Project CARS is a really cool racing simulator. But we missed many features when playing online
                multiplayer. Luckily, the people at Slightly Mad Studios promotes development by the community. So Autostew came
                to be!
            </p>
            <p>
                <b>Autostew allows for a better on-line simulation experience.</b>
            </p>

            {% if servers_in_race %}
                <h2>Current events</h2>
                <div class="row">
                    {% for server in servers_in_race %}
                        <div class="col-xs-12 col-md-6 placeholder">
                            {% include 'autostew_web_session/server_badge.html' with server=server %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if servers_online %}
                <h2>Idle servers</h2>
                <div class="row">
                    {% for server in servers_online %}
                        <div class="col-xs-12 col-md-6 placeholder">
                            {% include 'autostew_web_session/server_badge.html' with server=server %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        
            <h3>
                Features you can enjoy today!
            </h3>
            <ul>
                <li>Warns and kicks players who crash excessively.</li>
                <li>Rank players according to their safety record and their race performance.</li>
                <li>Announces the best laps and other important events during the race.</li>
                <li>Leaderboards with the fastest times.</li>
                <li>Saves race's results.</li>
                <li>Allows planning of races.</li>
                <li>Connect your own dedicated server to Autostew.</li>
                <li>Managing of dedicated server through the web interface.</li>
            </ul>

            <p>
                Want to know more? Look what we are
                <a href="https://waffle.io/Autostew/autostew">currently doing</a>
                and <a href="https://waffle.io/Autostew/autostew?label=help%20wanted">where we can use help</a>.
            </p>
        </div>
        <div class="col-xs-12 col-md-4 placeholder">
            <h3>Announcements</h3>
            <h4>DS admin zone now open <small>2016-04-26</small></h4>
            <p>
                <a href="{% url 'account:home' %}">Check it out here!</a> You are now able to add your DS there and also
                configure the setup queue and rotation.
            </p>
            <p>
                Mind that the DS settings page is still in development.
            </p>
            <hr>
            <h4>Performance &amp; new DSs <small>2016-04-25</small></h4>
            <p>
                We are having a lot of parallel races today, which is really good news! But we also experienced some
                performance issues due to that. We expanded our servers, so now everything should run smoother.
            </p>
            <p>
                To all those who want to connect your DSs to Autostew, please be patient as we are currently trying to
                keep up. Soon you will be able to add your DS over this website. Meanwhile consider registering in the
                <a href="{% url 'account:home' %}">DS admin zone</a>.
            </p>
            <hr>
            <h4>DS admin registration open! <small>2016-04-25</small></h4>
            <p>
                Autostew seems to be quite stable now. We also fixed a bug when the option "controlGameSetup" in the
                server.cfg was set to false. You may now set it to false to allow players to edit the session
                settings. Set it to true to make Autostew configure the races.
            </p>
            <p>
                If you are a DS admin and want to connect your DS to Autostew or already have a DS connected to
                Autostew, you may now register in the <a href="{% url 'account:home' %}">DS admin zone</a>. You will be
                soon able to manage your DS there. Stay tuned!
            </p>
            <hr>
            <h4>Major update <small>2016-04-19</small></h4>
            <p>
                We made a pretty large update! Most noticeable is the new logo (thanks Riccardo!), but we also made many
                changes under the hood that should make Autostew more stable and the source code easier to read and
                maintain. Please bear with us if there are some issues in the next days, you can also
                <a href="https://github.com/Autostew/autostew/issues/new">report the bugs you find</a>.
            </p>
            <p>
                PS: Don't worry, the previous ratings are still there, even if it doesn't show.
                To make it visible again, just complete a lap and you should be back where you were :)
            </p>
        </div>
    </div>
    <p>
        Send us <a href="{% url 'contact:contact' %}">your feedback</a>!
    </p>
{% endblock %}
