{% extends "autostew_web_home/base.html" %}

{% block content %}
    {% if user.is_authenticated and user.is_staff and unread_messages %}
        <div class="alert alert-info">
            There are {{ unread_messages|length }} unread messages.
        </div>
    {% endif %}

    <h1 class="page-header">Autostew <small>making online racing fun!</small></h1>

    <div class="row">
        <div class="col-xs-12 col-md-8 placeholder">
            <p>
                We think Project CARS is a really cool racing simulator. But we missed many features when playing online
                multiplayer. Luckily, the people at Slightly Mad Studios promotes development by the community. So Autostew came
                to be!
            </p>
            <p>
                <b>Autostew allows for a better on-line simulation experience.</b>
            </p>
            <h3>
                Features you can enjoy today!
            </h3>
            <ul>
                <li>Warns and kicks players who crash excessively.</li>
                <li>Rank players according to their safety record and their race performance.</li>
                <li>Announces the best laps and other important events during the race.</li>
                <li>Leaderboards with the fastest times.</li>
                <li>Saves race's results.</li>
                <li>Allows planning of races.</li>
                <li>Connect your own dedicated server to Autostew.</li>
            </ul>

            <h3>Servers</h3>

            {% if server_list %}
                <div class="row">
                    {% for server in server_list %}
                        <div class="col-xs-12 col-md-6 placeholder">
                            {% include 'autostew_web_session/server_badge.html' with server=server %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h5>No servers are available!</h5>
            {% endif %}

            <h3>
                More to come!
            </h3>
            <p>
                Want to know more? Look what we are
                <a href="https://waffle.io/Autostew/autostew">currently doing</a>
                and <a href="https://waffle.io/Autostew/autostew?label=help%20wanted">where we can use help</a>.
            </p>
            <p>These are some features we are planning to work on soon:</p>
            <ul>
                <li>Dedicated servers restricted by driver safety rating.</li>
                <li>Kick players who are AFK, who lag excessively or break specific rules.</li>
                <li>Voting of race setups.</li>
                <li>Managing of dedicated server through the web interface.</li>
                <li>And maybe more!</li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4 placeholder">
            <h3>Announcements</h3>
            <h4>Major update <small>2016-04-19</small></h4>
            <p>
                We made a pretty large update! Most noticeable is the new logo (thanks Riccardo!), but we also made many
                changes under the hood that should make Autostew more stable and the source code easier to read and
                maintain. Please bear with us if there are some issues in the next days, you can also
                <a href="https://github.com/Autostew/autostew/issues/new">report the bugs you find</a>.
            </p>
            <p>
                PS: Don't worry, the previous ratings are still there, even the safety class even if it doesn't show.
                To make it visible again, just complete a lap and you should be back where you were :)
            </p>
            <hr>
            <h4>Status update <small>2016-04-15</small></h4>
            <p>
                We added a (for now static) DS admin zone!
            </p>
            <p>
                We are currently working on some big changes on the
                internal Autostew architecture which should improve its stability and allow easier future development.
                When we release this (which will be in the next days) we will probably need to delete the session
                history to make things easier for us.
            </p>
        </div>
    </div>
    <p>
        Send us <a href="{% url 'contact:contact' %}">your feedback</a>!
    </p>
{% endblock %}
