{% extends "autostew_web_home/base.html" %}

{% block content %}
    {% if user.is_authenticated and unread_messages %}
        <div class="alert alert-info">
            There are {{ unread_messages|length }} unread messages.
        </div>
    {% endif %}

    <h1 class="page-header">Autostew <small>making online racing fun!</small></h1>
    <p>
        We think Project CARS is a really cool racing simulator. But we missed many features when playing online
        multiplayer. Luckily, the people at Slightly Mad Studios promotes development by the community. So Autostew came
        to be!
    </p>
    <p>
        <b>Autostew allows for a better on-line simulation experience.</b>
    </p>
    <h3>
        Features you can enjoy today!
    </h3>
    <ul>
        <li>Warns and kicks players who crash excessively.</li>
        <li>Rank players according to their safety record and their race performance.</li>
        <li>Announces the best laps and other important events during the race.</li>
        <li>Leaderboards with the fastest times.</li>
        <li>Saves race's results.</li>
        <li>Allows planning of races.</li>
    </ul>
    <h3>
        More to come!
    </h3>
    <p>
        Want to know more? Look what we are
        <a href="https://waffle.io/Autostew/autostew">currently doing</a>
        and <a href="https://waffle.io/Autostew/autostew?label=help%20wanted">where we can use help</a>.
    </p>
    <p>These are some features we are planning to work on soon:</p>
    <ul>
        <li>Kick players who are AFK, who lag excessively or break specific rules.</li>
        <li>Voting of race setups.</li>
        <li>And maybe more!</li>
    </ul>

    <p>
        Send us <a href="{% url 'contact:contact' %}">your feedback</a>!
    </p>
{% endblock %}
