{% extends "autostew_web_home/base.html" %}

{% block content %}
    <h1>{{ steamuser.display_name }}</h1>
    <p>
        Safety class:
        {% if steamuser.safety_class %}
            <span class="label label-default">{{ steamuser.safety_class.name }}</span>
            ({{ steamuser.safety_rating }})
        {% else %}
            none yet
        {% endif %}
    </p>
    <p>
        Rating:
        {% if steamuser.get_performance_rating %}
            {{ steamuser.get_performance_rating }}
        {% else %}
            none yet
        {% endif %}
    </p>

    <h2>Sessions</h2>
    <ul>
        {% for session in steamuser.sessions_participated_in %}
            <li><a href="{{ session.get_absolute_url }}">Session {{ session }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
