{% extends "autostew_web_home/base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Drivers</h1>
    </div>

    <p>All known drivers: </p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% if steamuser_list %}
                {% for user in steamuser_list %}
                    <tr>
                        <td>
                            <a href="{{ user.get_absolute_url }}">{{ user.display_name }}</a>
                        </td>
                        <td>
                            {% if user.safety_class %}
                                <span class="label label-default">{{ user.safety_class.name }}</span>
                                <small>{{ user.safety_rating }}</small>
                            {% else %}
                                Unrated
                            {% endif %}
                        </td>
                        <td>
                            {% if user.elo_rating %}
                                {{ user.elo_rating }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>No drivers found!</td></tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
